<nav class="navbar">
  <a routerLink="/" class="logo">Freelance<span>Hub</span></a>

  <div class="nav-links">
    <a routerLink="/"        routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Início</a>
    <a routerLink="/explorar" routerLinkActive="active" class="nav-link">Explorar</a>
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
  </div>

  <div class="nav-actions">
    <a routerLink="/login" class="btn btn-ghost">Entrar</a>
    <div class="avatar" style="width:36px;height:36px;font-size:13px;cursor:pointer">MR</div>
  </div>
</nav>
